body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

.title {
  font-size: 36px;
  padding: 7px 0;
  text-align: center;
}

.number {
  color: #ED458B;
  display: inline;
  font-weight: bold;
}

.guesser {
  color: #E6E7E8;
  display: inline;
  font-weight: lighter;
}

header {
  background-color: #404041;
  height: auto;
}

.container-inline-block {
  display: inline-block;
  margin: 20px auto;
}

.container-block {
  display: block;
}


.last-guess {
  color: #EB008B;
  font-size: 86px;
  margin: 20px 0;
}

input {
  border: 1px solid #D0D2D3;
  font-size: 14px;
  padding: 2px 5px;
  width: 100%;
}

.minmax {
  width: 50px;
  text-align: center;
  display: inline-block;
  margin: 10px 20px 15px;
}

.minmax input {
  margin: auto;
}

.minmax h4 {
  margin-bottom: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D0D2D3;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D0D2D3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D0D2D3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D0D2D3;
}

.container .button {
  display: inline-block;
  width: 100%;
}

button:disabled,
button[disabled]:active,
button[disabled]:hover
{
  background-color: #ededed;
  color: #D0D2D3;
  cursor: inherit;
}

button {
  background-color: #D0D2D3;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
  font-weight: lighter;
  margin: 20px 5px;
  text-decoration: none;
  width: 100px;
}

button:hover {
  background-color: #EB008B;
}

button:active {
  background-color: #c60075;
}

.reset-button {
  width: 100%;
}


@media screen and (max-width: 500px) {

  .container button {
    display: block;
  }

  button {
    margin: 10px auto;
    width: 200px;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (min-width: 200px) {
  .hint, .last-guess {
    margin: 0 auto;
    width: 200px;
  }

}

@media screen and (max-width: 275px) {

  .container-inline-block {
    width: 90%;
  }

  input {
    width: 90%;
  }
  button {
    width: 90%;
  }

  .last-guess {
    font-size: 64px;

  }
}
