body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

.title {
  height:45px;
  text-align: center;
}

header .number {
  display: inline-block;
  font-weight: bold;
  color: #ED458B;
  font-size: 36px;
  margin: 7px 0;
}

header .guesser {
  display: inline-block;
  font-weight: lighter;
  color: #E6E7E8;
  font-size: 36px;
  margin: 7px 0;
}

header {
  background-color: #404041;
  height: 50px;
}

.guess-form {
  display: inline-block;
  margin: 20px 0;
}

.last-guess {
  margin: 20px 0;
  color: #EB008B;
  font-size: 86px;
  /*font-weight: lighter;*/
}

.reset {
  margin: 20px 0;
}

.buttons {
  margin: 20px 0;
  display: block;
}

button {
  font-size: 18px;
  font-weight: lighter;
  color: #FFFFFF;
  background-color: #D0D2D3;
  border: none;
  padding: 5px 32px;
  margin: 0 8px;
  text-decoration: none;
  border-radius: 40px;

}

button:hover {
  background-color: #EB008B;
}

input {
  padding: 2px 0;
  width: 100%;
  font-size: 16px
}
